.slider-container {
  background: url('https://res.cloudinary.com/shaolinmkz/image/upload/v1571084574/ALC/google-ship/movie-basket.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
  background-position-y: 100px;
  overflow: hidden;
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
}

.slide {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.slider-left {
  animation-name: sliderLeft;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.slider-right {
  animation-name: sliderRight;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes sliderLeft {
  0% {
    transform: translateX(3000px)
  }

  100% {
    transform: translateX(0px)
  }
}

@keyframes sliderRight {
  0% {
    transform: translateX(-3000px)
  }

  100% {
    transform: translateX(0px)
  }
}

@media(max-width: 768px) {
  .slide {
    width: 100%;
  }

  .slider-container {
  background: url('https://res.cloudinary.com/shaolinmkz/image/upload/v1571084574/ALC/google-ship/movie-basket.png');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position-x: center;
  background-position-y: 50px;
  overflow: hidden;
  width: 100vw;
  height: 50vh;
}
}

@media(max-width: 500px) {
  .slide {
    height: 50vh;
  }

  .slider-container {
  height: 30vh;
}
}
