header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  background: var(--neutral-color);
  z-index: 100;
  box-shadow: 0.5px 0.3px 2px var(--primary-color);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}

.search .fa-search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.search .fa-search input {
  width: 0px;
  background: none;

  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.search .fa-search:hover input,
.search .fa-search input:focus {
  width: 260px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  margin-left: 5px;
  background: white;
}

a:first-child .material-icons:hover {
  color: var(--primary-color);
}
.nav-menu ol {
  display: flex;
}

.nav-menu ol li a {
  color: var(--secondary-color);
  padding: 10px 10px;

  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.nav-menu ol li a:hover, .active {
  background: var(--primary-color);
}

header .nav-menu.mobile {
  display: block;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--neutral-color);
  padding: 10px 0;
  z-index: -1;
}

.nav-menu.mobile ol li a {
    padding: 5px 0;
}

header .nav-menu.mobile ol {
  display: flex;
  flex-direction: column;
}

header .nav-menu.mobile ol li {
  display: flex;
  flex-direction: column;
}
header .nav-menu.mobile ol li a {
  width: 100%;
  text-align: center;
}

header .nav-menu.mobile .menu-ico {
  margin-right: 20px;
}

header .nav-menu.mobile .menu-ico:hover {
  color: var(--primary-color);
}
