<section *ngIf="movies" class="card-container">
    <div  class="sub-container" *ngFor="let movie of movies" [routerLink]="['/single-view', movie.id]" title="Click to watch movie">
    <div class="img-container">
      <img src="{{ movie.Poster }}" alt="cover" />
    </div>

    <p>
      {{ movie.Title || 'N/A' }}
    </p>

      <p>
        {{ movie.Genre || 'N/A' }}
      </p>

      <p>
        {{ movie.Year || 'N/A' }}
      </p>

      <div>
        <p *ngFor="let rating of movie.Ratings"><i class="material-icons">
            star
          </i>{{ rating.Source || 'N/A' }} : {{ ' ' + rating.Value }}</p>
      </div>
    </div>
</section>
