.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login h1 {
  padding: 10px 0;
}

.login form input, .login form button {
  margin-bottom: 10px;
  padding: 10px 10px;
  width: 300px;
}
