.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.register form {
  display: flex;
  flex-direction: column;
}

.register h1 {
  padding: 10px 0;
}

.register form input, .register form button {
  margin-bottom: 10px;
  padding: 10px 10px;
  width: 300px;
}
